asgiref==3.8.1
brotli==1.1.0
ConfigParser==7.0.0
cryptography==37.0.2
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
Flask_RESTful==0.3.10
HTMLParser==0.0.2
importlib_metadata==7.1.0
keyring==25.2.1
lockfile==0.12.2
lxml==4.9.0
numpy==1.22.4
ordereddict==1.1
protobuf==5.26.1
pyOpenSSL==24.1.0
python-dotenv==1.0.1
thread==2.0.1
toml==0.10.2
tornado==6.4
typing_extensions==4.11.0
watchdog==4.0.0
xmlrpclib==1.0.1
zipp==3.18.2
